body, html{height:100%}
.App {
  text-align: center;
margin-top: 1%;

}
button{
  outline:none;
  width: 70px;
  height: 70px;
  border-radius: 35px;
  margin: 3px;
  color: #E4E4E4;
  font-size: 25px;
  border: 1px solid black;
}
.blackButtons{
  background-color:#333333
}
.whiteButtons{
  background-color:#A5A5A5
}
.yellowButtons{


  background-color: #FF9A0A;
}
.calculator{
  position: relative;
  min-width: 330px;
  width: 360px;
  max-width: 600px;

height: 600px;
  margin: auto;
  background-color: #000000;
}
#zero{
  width: 140px;
  background-color:#333333
}
.columns{
  display: flex;
  text-align: center;
  justify-content: center;
  margin-top: 70px;
  width: 100%;


}

.firstColumnSmallFirst{

}

.firstColumnSmallSecond{


}
.secondColumn{
width: 30%;

  margin-left: -30px;
}
.firstColumn{

  width: 70%;


}
.labelBig{

  word-wrap: normal;

color: #FEFEFE;

  font-size: 49px;
height: 30%;
  width: 290px;
 position: absolute;
margin-left: 30px;
  text-align: right;

  word-break: keep-all;
  overflow: hidden;

  line-height: 180px;
}

.labelSmall{
  color: #FEFEFE;


  font-size: 22px;
  text-align: left;
  padding: 5px;
  height: 15px;
}
.marian{
  color: blueviolet;
  cursor: pointer;
}



